[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
xlsxwriter = "*"
numpy = "*"
gunicorn = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.9"
